* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

#contenedor {
    position: relative;
    font-family: Montserrat, sans-serif;
    background-color: #ECE3CE;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 40px;
    background-color: #4F6F52;
}

#header #logo {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
}

#header #container-logInSignIn #btnLogIn {
    padding-right: 5px;
    padding-left: 5px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

#header #container-logInSignIn #btnSignIn {
    padding-right: 5px;
    padding-left: 5px;
    margin: 0 10px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

#info-index {
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-index #titulo-index {
    color: #4F6F52;
    font-size: 50px;
}

#info-index #texto-principal-index {
    margin: 0 200px;
    font-size: 20px;

}

#info-index #container-texto-secundario-index {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 100px 0;
    width: 1075px;
}

#info-index #container-texto-secundario-index #texto-secundario-index {
    width: 500px;
    margin: 0 25px;
    text-align: left;
}

#info-index #container-texto-secundario-index #texto-secundario-index h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

#info-index #container-texto-secundario-index #texto-secundario-index p {
    margin-bottom: 10px;
    font-size: 18px;
}

#info-index #container-texto-secundario-index #img-index-horizontal {
    width: 500px;
    margin: 0 25px;
    border-radius: 20px;
}

#info-index #container-texto-secundario-index #img-index-vertical {
    width: 350px;
    margin: 0 100px;
    border-radius: 20px;
}

#footer {
    width: 100%;
    background-color: #3A4D39;
    color: white;
    padding: 10px 0;
}

#footer #container-texto-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#footer #container-texto-footer p {
    margin: 10px 100px;
}

#footer #container-texto-footer a {
    margin: 5px 25px;
    color: white;
    text-decoration: underline;
}

#contenedor-tarjeta {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-color: #4F6F52;
}

#tarjeta-logInSignIn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    height: 450px;
    padding: 30px;
    border: black solid;
    border-radius: 20px;
    background-color: #ECE3CE;
}

#tarjeta-logInSignIn #titulo-tarjeta {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

#tarjeta-logInSignIn .item-tarjeta {
    width: 100%;
    margin-top: 20px;
    font-size: 23px;
}

#tarjeta-logInSignIn #botones-tarjeta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
}

#tarjeta-logInSignIn #botones-tarjeta button {
    font-size: 23px;
}

#tarjeta-logInSignIn #botones-tarjeta .btn-confirm {
    width: 150px;
}

#tarjeta-logInSignIn #botones-tarjeta .btn-vlr {
    width: 100px;
}

#tarjeta-logInSignIn #texto-tarjeta {
    text-align: center;
}

#container-estructura {
    display: flex;
    flex-direction: row;
}

#container-estructura #container-menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: #4F6F52;
    text-align: center;
}

#logo-menu {
    width: 300px;
    padding: 20px;
}

#container-divisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#texto-divisas {
    color: white;
    margin-bottom: 5px;
}

#divisas {
    font-size: 20px;
    margin-right: 30px;
    width: 80px;
}

#divisas-btn {
    width: 80px;
    font-size: 15px;
}

#container-btn {
    display: flex;
    flex-direction: column;
}

#container-menu .btn-nav {
    height: 100px;
    margin: 15px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
}

button:hover {
    background-color: #3A4D39;
}

.boton-presionado {
    background-color: #3A4D39;
}

#container-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1620px;
    
}

#container-info #titulo-info {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#container-info #texto-info {
    font-size: 30px;
}

#container-info #texto-info h2 {
    margin: 10px 0;
}

#container-info #texto-info .categoria-gasto {
    display: flex;
    flex-direction: column;
    width: 600px;
}

#container-cat-gasto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

#container-input {
    display: flex;
    flex-direction: column;
}

#texto-info p {
    margin-bottom: 40px;
}

#container-input .form-input {
    font-size: 18px;
    margin-bottom: 20px;
    height: 40px;
    width: 874px;
}